In [1]:
import pandas as pd 
import nltk 
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv(r"C:\Users\gagan soni\Downloads\email_spam.csv",encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],inplace = True)

In [5]:
df.rename(columns = {'v1':'out', 'v2':'inp'},inplace = True)

In [6]:
df.head()

    out                                                inp
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.iloc[2,1]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [8]:
df.shape

(5572, 2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   out     5572 non-null   object
 1   inp     5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [10]:
df.out.unique()

array(['ham', 'spam'], dtype=object)

In [11]:
df.out.value_counts()

out
ham     4825
spam     747
Name: count, dtype: int64

## Data preprocessing

In [12]:
import nltk 
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [13]:
ps = PorterStemmer()

In [ ]:
corpus = []
for i in range(len(df)):
    s = re.sub('[^a-zA-Z]',' ',df['inp'][i])
    s = s.lower()
    s = s.split()
    s = [ ps.stem(word) for word in s if i not in stopwords.words('english') ]
    s = ' '.join(s)
    corpus.append(s)

corpus

## Vectorization

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

X = pd.DataFrame(cv.fit_transform(corpus).toarray())

In [ ]:
X.shape

In [ ]:
X.head()

In [ ]:
df['out'].replace({'ham':0,'spam':1},inplace = True)

In [ ]:
y = df['out']

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test,y_train,y_test = train_test_split(X,y ,test_size = 0.2,random_state = 42)

## Modelling

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model.fit(X_train,y_train)

## Evolution

In [ ]:
y_pred_train = model.predict(X_train)

print('Train Accuracy: ',accuracy_score(y_train,y_pred_train))

In [ ]:
y_pred_test = model.predict(X_test)

print('Test Accuracy: ',accuracy_score(y_test,y_pred_test))

In [ ]:
print('Cross validation Score: ',cross_val_score(model,X_train,y_train,cv = 5).mean())